/* Summary.css */

.summary-card {
    background-color: #2f2f2f;
    border-radius: 10px;
    float: center;
    width: 700px;
    padding: 20px;
    margin: 20px;
    margin-top: 140px;
    margin-left: 350px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
  }
  
  .summary-card h2 {
    margin-top: 0;
    font-size: 1.5rem;
    text-align: center;
    color: #f9f9f9;
  }
  
  .summary-card p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    color: #f9f9f9;
  }
  